<template name="header">
	{{#if first}}
	<div class="col-xs-2 col-xs-offset-1">
	<a href="{{href}}">
		<img src="{{src}}" class="img-responsive img-circle image" alt="Responsive image">
	</a>
	</div>
	{{else}}
	<div class="col-xs-2 col-xs-offset-2">
	<a href="{{href}}">
		<img src="{{src}}" class="img-responsive img-circle image" alt="Responsive image">
	</a>
	</div>
	{{/if}}
	<!-- <a href="{{href}}">
		<img src="{{src}}" class="img-responsive img-circle" alt="Responsive image">
	</a>
	</div> -->
</template>
